* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #012a4a;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 500px;
}

/* Utilities */

.website {
    width: 20px;
}

h1 {
    color: white;
}

.top-header {
    padding-bottom: 20px;
}

h1 {
    font-size: 25px;
}

/* First Side */

.first-side {
    width: 30%;
    height: 100%;
    background-color: #003566;
    padding: 40px 80px;
}

.first-side h1 {
    padding: 20px 0;
}

.first-side p {
    color: #dee2e6;
    line-height: 30px;
    font-size: 15px;
}

.chessbaby {
    cursor: pointer;
    width: 90px;
    filter: invert(40%) sepia(98%) saturate(1009%) hue-rotate(173deg) brightness(102%) contrast(104%);
}

/* Second Side */

.second-side {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Edit the width based on the parent */
}

.second-side-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.the-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px #adb5bd solid;
}

.icons {
    padding-top: 15px;
}

.email {
    width: 500px;
    height: 50px;
    display: flex;
}

#email {
    height: 100%;
    outline: none;
    border: none;
    font-size: 17px;
    color: #adb5bd;
    padding: 0 20px;
    background-color: #495057;
}

.paper-buttom {
    width: 120px;
    border: none;
    background-color: #00a6fb;
    cursor: pointer;
}

.paper-buttom:active {
    background-color: #0077b6;
}

.paper {
    width: 20px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(61deg) brightness(107%) contrast(108%);
}

.website {
    cursor: pointer;
    margin-right: 20px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(61deg) brightness(107%) contrast(108%);
}

.website:hover {
    filter: invert(49%) sepia(93%) saturate(1809%) hue-rotate(167deg) brightness(97%) contrast(103%);
}

.first {
    display: flex;
    justify-content: space-between;
}

.sectionContainer {
    width: 25%;
}

.sectionContainer h1 {
    padding: 40px 0 20px 0;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a, .links p {
    margin: 10px 0;
    color: #dee2e6;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.second button {
    padding: 10px 40px;
    border: none;
    background-color: #00a6fb;
    cursor: pointer;
    color: white;
    font-size: 17px;
}

.second button:active {
    background-color: #0077b6;
}

/* Responsive Design */

@media (max-width: 1200px) {
    
    body {
        height: 1200px;
    }

    footer {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .first-side {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        text-align: center;
    }

    .second-side {
        width: 100%;
    }

    .first {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .the-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .icons {
        padding: 0 0 30px 0;
    }
    
    .website {
        margin: 0 20px;
    }

    .the-bottom {
        width: 100%;
    }

    .sectionContainer {
        width: 100%;
    }

    .first h1 {
        text-decoration: underline 1.5px;
    }
    
    .subscribe {
        width: 100%;
    }

    .email {
        width: 200px;
    }

    .second {
        margin: 10px 0 20px 0;
        justify-content: center;
        display: flex;
    }
}
